@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

:root {
  --soft-red: hsl(10, 79%, 65%);
  --cyan: hsl(186, 34%, 60%);
  --dark-brown: hsl(25, 47%, 15%);
  --medium-brown: hsl(28, 10%, 53%);
  --cream: hsl(27, 66%, 92%);
  --very-pale-orange: hsl(33, 100%, 98%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 18px;
}

body {
  background-color: var(--cream);
  font-size: 18px;
  font-family: "DM Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

main {
  padding: 0px 20px;
  display: flex;
  gap: 20px;
  display: flex;
  justify-content: center;
}

header {
  padding: 0px 20px;
  width: 500px;
  display: flex;
  width: 100%;
}

header div {
  background-color: white;
  border-radius: 20px;
  margin-bottom: 20px;
  padding: 20px 40px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
}

header p {
  color: var(--dark-brown);
  max-width: 1000px;
  font-size: 0.9rem;
  text-align: center;
}

.budget-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 540px;
  height: 120px;
  border-radius: 20px;
  padding: 40px;
  color: var(--cream);
  background-color: var(--soft-red);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
}

.budget-container h1 {
  font-size: 1rem;
}

.budget-container h2 {
  font-size: 1.8rem;
}

.chart-container {
  padding: 40px;
  background-color: white;
  margin-top: 20px;
  border-radius: 20px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
}

.spending-container {
  min-height: 460px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.spending-container h2 {
  color: var(--dark-brown);
  font-size: 2rem;
  margin-bottom: auto;
}

.charts {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 20px;
}

.single-chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.single-chart-container:hover .popup {
  opacity: 1;
}

.days {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.days p {
  width: 100%;
  text-align: center;
  color: var(--medium-brown);
  font-size: 0.8rem;
}

.bar {
  background-color: var(--soft-red);
  border-radius: 5px;
  margin-top: 5px;
  cursor: pointer;
  width: 85%;
  max-height: 300px;
  transition: height 0.5s ease-in-out;
}

.bar:hover {
  opacity: 0.5;
}

.popup {
  background-color: var(--dark-brown);
  color: white;
  border-radius: 5px;
  padding: 8px 10px;
  font-size: 0.8rem;
  font-weight: 700;
  opacity: 0;
  cursor: pointer;
  transition: opacity 0.2s ease-out;
  width: 100%;
}

hr {
  border: 1px solid var(--cream);
}

.total-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  height: 100px;
  margin-top: 10px;
}

.total-container h2 {
  font-size: 3rem;
  margin-bottom: -10px;
  color: var(--dark-brown);
}

.total-container h3 {
  text-align: end;
  color: var(--dark-brown);
  font-size: 1rem;
}

.total-container p {
  color: var(--medium-brown);
}

.today {
  background-color: var(--cyan) !important;
}

.input-container {
  display: flex;
  flex-direction: column;
  padding: 40px;
  width: 300px;
  background-color: white;
  border-radius: 20px;
  justify-content: space-evenly;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
}

.input-container label {
  font-size: 1rem;
  color: var(--dark-brown);
  font-weight: 500;
  position: relative;
  top: 10px;
}

.input-container input {
  padding: 5px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid var(--soft-red);
  font-family: "DM Sans", sans-serif;
}

.input-container input:focus {
  outline: none;
}

.input-container button {
  background-color: var(--soft-red);
  color: white;
  border-radius: 5px;
  border: none;
  padding: 10px;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.input-container button:hover {
  opacity: 0.5;
}

#reset-btn {
  background-color: white;
  border: 1px solid var(--soft-red);
  color: var(--soft-red);
}

.inputwrapper {
  position: relative;
}

.inputwrapper span {
  margin-left: 5px;
  position: absolute;
  right: 5px;
  top: 2px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media (max-width: 630px) {
  .budget-container {
    padding: 20px;
    width: 375px;
  }

  .chart-container {
    padding: 30px 20px;
    width: 375px;
  }

  .single-chart-container {
    width: 40px;
  }

  .popup {
    font-size: 0.5rem;
    padding: 5px 0px;
  }

  .days {
    gap: 10px;
  }

  .spending-container h2 {
    font-size: 1.5rem;
  }

  .total-container h2 {
    font-size: 2rem;
  }

  .total-container p {
    font-size: 0.8rem;
  }
}

@media (max-width: 425px) {
  .budget-container {
    padding: 10px;
    width: 300px;
  }

  main {
    padding: 0px 5px;
  }

  .chart-container {
    padding: 20px 15px;
    width: 300px;
  }

  .spending-container h2 {
    font-size: 1.5rem;
  }

  .total-container h2 {
    font-size: 1.7rem;
  }

  .total-container p {
    font-size: 0.8rem;
  }
}
